*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/codeStyles/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
app/src/androidTest/
app/src/main/res/drawable/
app/src/test/
lddialog/libs/
lddialog/src/androidTest/
lddialog/src/test/
